@font-face{
    font-family: sundown;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face{
    font-family: sundown;
    src: url(./NeueHaasDisplayLight.ttf);
    font-weight: 100;
}
@font-face{
    font-family: sundown;
    src: url(./NeueHaasDisplayRoman.ttf);
    font-weight: 200;
}
*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family :sundown ;
}
html,body{
    height : 100%;
    width : 100%;
}
#main {
    
    position: relative;
    z-index: 10;
    
    
}

/* page 1 parent of nevigation bar */
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding:0 2vw ;
    
}
/* navigation bar */
nav {
    padding:2vw 0vw ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}
nav .menu{
    display: none;
    margin-right: 10px;
    
}
nav .menu .fa-xmark{
    display: none;
    font-size: 1.5rem;
    

}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.352);
    border-radius: 50px;
    font-weight: 500;
    color: #000000d9;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
    cursor: pointer;
}
#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;

}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#nav-part2 h4 a{
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
    transform: all ease 0.3s;
}
#nav-part2 h4:hover a{
    color: white;
}
/* now center part below navbar */
#center {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2.5vw;
    border-bottom: 1px solid #0000003c;
}
#left h3{
    width: 25vw;
    font-size: 1.6vw;
    line-height: 2vw;
   
}
#center h1 {
    font-size: 10vw;
    line-height: 8vw ;
    text-align: right;
}
#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}
#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    
    right: 0;
    top: 70vh;

    
}
#hero-1{
    height: 100%;
    width: 100%;
    background-color: #fe320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px); 
    position: absolute;
}
#hero-2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320A,#fe3f0a);
    
    border-radius: 50%;
    filter: blur(20px); 
    position: absolute;
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero-3{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320A,#fe3f0a);
    border-radius: 50%;
    filter: blur(20px); 
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes anime1 {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,10%);
    }
}
@keyframes anime2 {
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,30%);
    }
}
/* css for page 2 */
#page2{
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0;
    background-color: #EFEAE3;
    position: relative;
    
}
#moving-text {
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}
#gola{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fe320A;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}
#page2-bottom{
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw;
    margin-top: 4vw;
    
}
#page2-bottom h1{
    width: 60%;
    line-height: 4.8vw;
    font-size: 4vw;
    position: relative;
    z-index: 2;
}
#bottom-part2{
    width: 18%;
    align-self: flex-end;
}
#bottom-part2 img {
    width: 100%;
    border-radius:10px ;
}

#bottom-part2 p{
    font-weight: 200;
    margin-top: 2vw;
    font-weight: 100;
}
.page2-botm-2{
    display: flex;
    
    align-items: center;
    padding: 2vw 2vw;
    position: absolute;
    top: 70vw;
}
.page2-botm-2 .circle {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #fe320A;
    margin-right: 8px;
    
}
.page2-botm-2 p{
    color: #000000a5;
}
#page2 #gooey {
    height: 33vw;
    width: 33vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient( to top right,#fe0e0a,#fe8c0a) ;
    /* background: linear-gradient( to bottom left, red, blue ); */
    top: 28%;
    left: 25%;
    filter: blur(30px);
    animation-name: gooey;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    
}
@keyframes gooey {
    from{
        transform: translate(10%,-10%) skew(0);

    }
    to {
        transform: translate(-10%,10%) skew(-12deg);
    }
    
}
#page3 {
    height: 150vh;
    width: 100%;
    background-color: #EFEAE3;
    
    
    
}
.elem {
    height: 120px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    position: relative;
    top: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}
.elem h2 {
    font-size: 3.5vw;
    cursor: pointer;
    margin-left: 3vw;
    transition: all ease 0.5s;
    position: relative;
}
.elem::before{
    content: "";
    height: 0px;
    width: 100%;
    top: 0;
    background-color: rgb(255, 152, 49);
    transition: all  0.3s;
    position: absolute;
    
    
    
}
.elem:hover::before{
    height: 100%;
    position: absolute;
}
.elem .elem-box{
    padding: 1vw 3vw;
}
.elem .elem-box .para1{
    text-align: right;
    color: rgba(0, 0, 0, 0.934);
    font-weight: 300;
    font-size: 0.9rem;

}
.elem .elem-box .para2{
    text-align: right;
    color: rgba(0, 0, 0, 0.493);
    font-weight: 300;
    font-size: 0.9rem;

}


#fixed-image{
    height: 30vw;
    width: 24vw;
    background-color: transparent;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
    
}
#page4{
    height: 200vh;
    width: 100%;
    background-color:  #EFEAE3;
    position: relative;
}

#page4 .page4-div1 {
    display: flex;
    justify-content: center;
    padding: 1vw 1vw;
    border: 1px solid #00000069;
    width: 200px;
    height: 50px;
    margin-left: 40px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
}
#page4 .page4-div1::after{
    content: "";
    height: 50px;
    width: 200px;
    background-color: black;
    position: absolute;
    top: 100%;
    transition: all 0.2s;
}
#page4 .page4-div1:hover::after{
    top: 0;
    
}
#page4 .page4-div1 i{
    font-size: 1.5rem;
    margin-left: 10px;
}
#page4 .page4-div1:hover p{
    color: white; 
    z-index: 99; 
}
#page4 .page4-div1:hover i{
    color: white;
    z-index: 99; 
}
#page4 .p4-div2-cnt{
    padding: 2vw 2vw;
    margin-top: 100px;
    display: flex;
   
    position: relative;
    
}
#page4 .p4-div2-cnt .left-div{
    height: 120vh;
    width: 55%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
}
#page4 .p4-div2-cnt .left-div p{
    height: 200px;
    width: 300px;
    color: #E4DED7;
    margin-top: 50px;
    font-weight: 200;
    
}
.left-divp1{
    transition: all 0.5s;
}
.left-divp2{
    display: none;
    transition: all 0.5s;
}
.left-divp3{
    display: none;
    transition: all 0.5s;
}
#page4 .p4-div2-cnt .left-div h1{
    text-align: left;
    width: 100px;
    position: relative;
    right: 80px;
    font-size: 4.3vw;
    font-weight: 900;
    line-height: 4vw;    
}
#page4 .p4-div2-cnt .left-div .left-box1{
    cursor: pointer;
    
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#page4 .p4-div2-cnt .left-div #h1{
    color: #EFEAE3;
    
}
#page4 .p4-div2-cnt .left-div #h2{
    color: #504A45;
    
}
#page4 .p4-div2-cnt .left-div #h3{
    color: #504A45;
    
}
#page4 .p4-div2-cnt .left-div .verti-line{
    height: 12.9vw;
    width: 2.6px;
    background-color: #504a45;
    position: absolute;
    right: 560px;
}
#page4 .p4-div2-cnt .left-div .verti-line .line1{
    background-color: red;
    height: 4.3vw;
    width: 2.9px;
}
#page4 .p4-div2-cnt .left-div .verti-line .line2{
    background-color: #504A45;
    height: 4.3vw;
    width: 2.9px;
}
#page4 .p4-div2-cnt .left-div .verti-line .line3{
    background-color:#504a45;
    height: 4.3vw;
    width: 2.9px;
}
 

#page4 .p4-div2-cnt .right-div{
    height: 120vh;
    width: 52%;
    
    background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15e1_Project-p-1080.jpg);
    background-size: cover;
    border-radius: 30px;
    position: absolute;
    right: 30px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function:ease;   
}
#page5{
    height: 60vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 5vw 2vw;
    position: relative;
    padding: 0 7vw;
}
#page5 .p5-text{
    display: flex;
    align-items: center;
    position: absolute;
    top: -40px;
    font-size: 0.9rem;
}
#page5 .p5-text .p5-circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fe320A;
    
}
#page5 .p5-text p{
    margin-left: 10px;
    font-weight: 200;
    color: #000000cb;
}
.swiper {
    width: 100%;
    height: 80%;
    overflow-x: scroll;
}
swiper-wrapper{
    height: 80%;

    display: grid;
    grid-template-columns: repeat(7,1fr);
    
}
.swiper::-webkit-scrollbar{
    overflow: hidden;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  border-left: 2px solid #0000002e;
  width: 30%;
  padding: 0 2vw;
  height: 60%;
}
.swiper-slide .img {
    
    height: 30%;
    width: 35%;
}
.swiper-slide .img1{
    background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b15ff_Nike.svg);
    background-size: cover;
}
.swiper-slide .img2{
    background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b1600_Converse.svg);
    background-size: cover;
}
.swiper-slide .img3{
    background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/660eb758d7f9942fd6b69202_the-north-face-1-logo-png-transparent-p-500.png);
    background-size: cover;
    width: 38%;
    height: 35%;
}
.swiper-slide .img4{
    background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b15fd_Arc%E2%80%99teryx.svg);
    background-size: cover;
}
.swiper-slide .img5{
    background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b15fe_Hunter.svg);
    background-size: cover;
    width: 41%;
}
.swiper-slide .img6{
    background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b1601_MediaLink.svg);
    background-size: cover;
    width: 47%;
}
.swiper-slide .img7{
    background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b1602_AfterPay.svg);
    background-size: cover;
    width: 55%;
}
.swiper-slide .swiper-para{
    font-weight: 200;
    color: #2d2d2d;
    font-size: 1rem;
    margin-top: 10px;
    width: 75%;
    text-align: left;
}
#page6{
    height: 190vh;
    width: 100%;
    position: relative;
    z-index: 9;
    /* background-color: #EFEAE3; */
}
#footer{
    position:fixed;
    z-index: 9;
    height: 190vh;
    width: 100%;
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}
.moving-box-cont{
    height: 45vh;
    background: linear-gradient(to bottom, red, transparent);
    width: 1600px;  
    position: relative;
    top: 160px;
    left: 100px;
    filter: blur(40px);
    display: flex;
    
} 
.moving-box-cont .moving-box1{
    background: linear-gradient(to bottom, red, transparent);
    height: 140%;
    width: 25%;
    filter: blur(40px);
    animation-name: boxes1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}   
.moving-box-cont .moving-box2{
    background: linear-gradient(to bottom, red, transparent);
    height:40vh;
    width:40vh;
    border-radius: 50%;
    position: relative;
    
    animation-name: boxes;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}   
.moving-box-cont .moving-box3{
    background: linear-gradient(to bottom, red, transparent);
    height: 45vh;
    width:45vh;
    border-radius: 50%;
    position: relative;
    
    animation-name: boxes;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}   
.moving-box-cont .moving-box4{
    background: linear-gradient(to bottom , red, transparent);
    height: 130%;
    width: 34%;
    animation-name: boxes2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}   
@keyframes boxes {
    from{
        transform: translate(0%,0%) ;
    }
    to{
        transform: translate(0%,-20%);
    }
    
}
@keyframes boxes1 {
    from{
        transform: translate(0%,0%);
    }
    to{
        transform: translate(-20%,-20%);
    }
    
}
@keyframes boxes2 {
    from{
        transform: translate(0%,0%) skew(-20deg);
    }
    to{
        transform: translate(20%,20%) skew(5deg);
    }
    
}

#footer h1{
    color: #EFEAE3;
    font-size: 23vw;
}
#footer-div{
    height: 20vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    z-index: 99;
}
#footer-div .footer-h3{
    color: rgba(241, 231, 231, 0.895);
    font-size: 2rem;
    margin-left: 50px;
}
#footer-div .footer-para {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    margin-right: 90px;
    
}
#footer-div .footer-para p{
    font-size: 1.2rem;
    font-weight: 200;
    color: rgba(241, 231, 231, 0.895);
}
#footer-div .footer-para form input{
    outline: none;
    background-color: transparent;
    height: 50px;
    width: 250px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #EE8C77;
    font-weight: 200;
    color: white;
    z-index: 100;
    position: relative;
    
    
}
#footer-div .footer-para form input::placeholder{
    color: #EE8C77;
    font-size: 1rem;
    z-index: 100;
}

#footer-bottom{
    border-top: 1px solid #dadada78;
    height: 10vh;
    width: 100%;
}


.black-box{
    height: 100vh;
    width: 100%;
    background-color: #00000065;
    z-index: 99;
    position: fixed;
    top: -100%;
    transition: all 0.4s;
}
.black-box div{
    background-color: #EFEAE3;
    height: 30vh;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    border-top: 0.01px solid #00000046;

}
.black-box div h1{
    font-size: 55px;
    align-self: first end;
    padding-right: 20px;
}
/*responsiveness*/
@media (max-width:600px){
    #page1{
        min-height: 100vh;
        width: 100vw;
        background-color: #EFEAE3;
        position: relative;
        padding:0 2vw ;
    }
    /* navigation bar */
    nav {
        padding:8vw 0vw ;
        width: 100%;
        position: relative;
        z-index: 100;
    }
    nav img{
        height: 9vh;
    }
    #nav-part2{
        display: none;
        
    }
    nav .menu{
        display: block;
        border: 1px solid #00000038;
        height: 13vw;
        width: 28vw;
        border-radius: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        


    }
    nav .menu h3{
        font-weight: 200;
    }

    #center {
    height: 62vh;
    width: 100%;
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column-reverse;
    /* justify-content: space-between; */
    padding-bottom: 2.5vw;
    border-bottom: 1px solid #0000003c;
    
    position: relative;
}
#left h3{
    width: 80vw;
    font-size: 5.5vw;
    line-height: 5vw;
    position: relative;
    right: 15vw;
    margin-bottom: 11vw;
   
}
    #center h1 {
        font-size: 17vw;
        line-height: 15vw ;
        text-align: right;
    }
    #page1 video{
        width: 100%;
       
        border-radius: 30px;
        margin-top: 15vw;
        position: relative;
    }
    #hero-shape{
        position: absolute;
        width: 85vw;
        height: 65vw;
        
        right: 0;
        top: 69vh;
    
        
    }
    #hero-1{
        height: 100%;
        width: 100%;
        background-color: #fe320A;
       
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        /* filter: blur(20px);  */
        position: absolute;
    }
    #hero-2{
        height: 50vw;
        width: 50vw;
        /* background: linear-gradient(#fe320A,#fe3f0a); */
        background-color: blue;
        
        border-radius: 50%;
        /* filter: blur(20px);  */
        position: absolute;
        animation-name: anime2;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    #hero-3{
        height: 50vw;
        width: 50vw;
        /* background: linear-gradient(#fe320A,#fe3f0a); */
        background-color: green;
        border-radius: 50%;
        /* filter: blur(20px);  */
        position: absolute;
        animation-name: anime1;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    
    }
    @keyframes anime1 {
        from{
            transform: translate(55%,-3%);
        }
        to{
            transform: translate(0%,10%);
        }
    }
    @keyframes anime2 {
        from{
            transform: translate(5%,-5%);
        }
        to{
            transform: translate(-20%,30%);
        }
    }

    #page2{
        min-height: 100vh;
        width: 100%;
        padding: 10vw 0;
        background-color: #EFEAE3;
        
        position: relative;
        
    }
    #moving-text {
        white-space: nowrap;
        overflow-x: auto;
    }
    #moving-text::-webkit-scrollbar{
        display: none;
    }
    .con{
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    
    }
    
    #moving-text h1{
        font-size: 12vw;
        display: inline-block;
    }
    #gola{
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: #fe320A;
        display: inline-block;
        margin: 1vw 2vw;
    }
    @keyframes move {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-100%);
        }
        
    }
    #page2-bottom{
        height: 80vh;
        width: 100%;
        background-color: #EFEAE3;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding:3vw 0 0 0;
        margin-top: 8vw;
        
    }
    #page2-bottom h1{
        width: 100vw;
        line-height: 9vw;
        font-size: 8vw;
        position: relative;
        z-index: 2;
    
        padding-left:3vw ;
        margin-top: 10vw;
    }
    #bottom-part2{
        width: 100vw;
        align-self: flex-end;
    }
    #bottom-part2 img {
        width: 70%;
        border-radius:10px ;
        margin-left: 8vw;
        margin-top: 15vw;
        position: relative;
        z-index: 99;
    }
    
    #bottom-part2 p{
        
        margin-top: 10vw;
        font-weight: 100;
        margin-top: 10vw;
        padding: 0 22vw 0 5vw;
       
    }
    .page2-botm-2{
        display: flex;
        
        align-items: center;
        padding: 2vw 2vw;
        position: relative;
        top: 60vw;
        
    }
    .page2-botm-2 .circle {
        height: 7px;
        width: 7px;
        border-radius: 50%;
        background-color: #fe320A;
        margin-right: 8px;
        
    }
    .page2-botm-2 p{
        color: #000000f5;
        font-weight:100; 
        font-size: 0.9rem;
    }
    #page2 #gooey {
        height: 80vw;
        width: 80vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient( to top right,#fe0e0a,#fe8c0a) ;
        /* background: linear-gradient( to bottom left, red, blue ); */
        top: 15%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    
        
    }
    @keyframes gooey {
        from{
            transform: translate(11%,-11%) skew(0);
    
        }
        to {
            transform: translate(-15%,15%) skew(-15deg);
        }
        
    }

    #page3 {
        height: 150vh;
        width: 100%;
        background-color: #EFEAE3;
        margin-top: 150px;
        
        
        
    }
    .elem {
        height: 120px;
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.3);
      
        position: relative;
        top: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        overflow: hidden;
        cursor: pointer;
    }
    .elem h2 {
        font-size: 7vw;
        cursor: pointer;
        margin-left: 3vw;
        transition: all ease 0.5s;
        position: relative;
    }
    .elem::before{
        content: "";
        height: 0px;
        width: 100%;
        top: 0;
        background-color: rgb(255, 152, 49);
        transition: all  0.3s;
        position: absolute;
        
        
        
    }
    .elem:hover::before{
        height: 100%;
        position: absolute;
    }
    .elem .elem-box{
        padding: 1vw 3vw;
    }
    .elem .elem-box .para1{
        text-align: right;
        color: rgba(0, 0, 0, 0.934);
        font-weight: 300;
        font-size: 0.75rem;
    
    }
    .elem .elem-box .para2{
        text-align: right;
        color: rgba(0, 0, 0, 0.493);
        font-weight: 300;
        font-size: 0.7rem;
    
    }

    
    #fixed-image{
        height: 60vw;
        width: 44vw;
        background-color: transparent;
        border-radius: 10px;
        position: fixed;
        z-index: 99;
        left: 50%;
        top: 25%;
        visibility: hidden;
        background-size: cover;
        background-position: center;
        
    }

    #page4{
        height: 150vh;
        width: 100%;
        background-color:  #EFEAE3;
        position: relative;
    }
    
    #page4 .page4-div1 {
        display: flex;
        justify-content: center;
        padding: 3vw 3vw;
        border: 1px solid #00000069;
        width: 200px;
        height: 50px;
        margin-left: 40px;
        border-radius: 30px;
        position: relative;
        top : 40px;
        overflow: hidden;
        cursor: pointer;
        
    }
    #page4 .page4-div1::after{
        content: "";
        height: 50px;
        width: 200px;
        background-color: black;
        position: absolute;
        top: 100%;
        transition: all 0.2s;
    }
    #page4 .page4-div1:hover::after{
        top: 0;
        
    }
    #page4 .page4-div1 i{
        font-size: 1.5rem;
        margin-left: 10px;
    }
    #page4 .page4-div1:hover p{
        color: white; 
        z-index: 99; 
    }
    #page4 .page4-div1:hover i{
        color: white;
        z-index: 99; 
    }
    #page4 .p4-div2-cnt{
        padding: 2vw 4vw;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        position: relative;
        
    }
    #page4 .p4-div2-cnt .left-div{
        height: 70vh;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        position: relative;
    }
    #page4 .p4-div2-cnt .left-div p{
        height: 200px;
        width: 300px;
        color: #E4DED7;
        margin-top: 50px;
        font-weight: 200;
    }
    #page4 .p4-div2-cnt .left-div h1{
        text-align: left;
        width: 100px;
        position: relative;
        right: 80px;
        font-size: 12vw;
        font-weight: 900;
        line-height: 12vw;    
    }
    #page4 .p4-div2-cnt .left-div .left-box1{
        cursor: pointer;
        
        width: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #page4 .p4-div2-cnt .left-div #h1{
        color: #EFEAE3;
        
    }
    #page4 .p4-div2-cnt .left-div #h2{
        color: #504A45;
        
    }
    #page4 .p4-div2-cnt .left-div #h3{
        color: #504A45;
        
    }
    #page4 .p4-div2-cnt .left-div h1::after{
        content: "";
        height: 12vw;
        width: 2.6px;
        background-color: #504A45;
        position: absolute;
        z-index: 100;
        top: 0;
        right: 120px;
    }
    #page4 .p4-div2-cnt .left-div #h1::after{
        background-color: red;
        
    }
    #page4 .p4-div2-cnt .left-div #h2::after{
        background-color: #504A45;
        
    }
    #page4 .p4-div2-cnt .left-div #h3::after{
        background-color: #504A45;
        
    }
    #page4 .p4-div2-cnt .right-div{
        height: 58vh;
        width: 100%;
        
        background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15e1_Project-p-1080.jpg);
        background-size: cover;
        border-radius: 30px;
        position: relative;
        right: -0vw;
        bottom: 15vw;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function:ease;   
    }

    #page5{
        height: 60vh;
        width: 100%;
        background-color: #EFEAE3;
       
        padding: 5vw 2vw;
        position: relative;
        top: -2px;
    }
    #page6{
        height: 100vh;
        width: 100%;
        /* background-color: #EFEAE3; */
    }
   
    
    .black-box{
        height: 100vh;
        width: 100%;
        background-color: #00000065;
        z-index: 99;
        position: fixed;
        top: -100%;
        transition: all 0.4s;
    }
    .black-box div{
        background-color: #EFEAE3;
        height: 30vh;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        display: flex;
        flex-direction: column;
        border-top: 0.01px solid #00000046;
    
    }
    .black-box div h1{
        font-size: 55px;
        align-self: first end;
        padding-right: 20px;
    }
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: black;
    transition: all ease 0.7s;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader h1{
    color: transparent;
    font-size: 4vw;
    background: linear-gradient(to right , orange, orangered);;
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 0.7s;
}
#loader h1:nth-child(2){
  
    animation-delay: 1.6s;
}
#loader h1:nth-child(3){
  
    animation-delay: 2.5s;
}
@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@media (max-width:600px){
    #main {
    
        width: 100%;
        
    }
    #loader h1{
        font-size: 10vw;
        
        
    }
    .swiper {
        width: 100%;
        height: 80%;
        overflow-x: scroll;
    }
    swiper-wrapper{
        height: 80%;
        
        display: grid;
        grid-template-columns: repeat(7,1fr);
        
    }
    .swiper::-webkit-scrollbar{
        overflow: hidden;
    }
    .swiper .swiper-slide {
      text-align: center;
      font-size: 5px;
      border-left: 2px solid #0000002e;
      width: 200px;
      padding: 0 2vw;
      height: 60%;
    }
    .swiper-slide .img {
        
        height: 30px;
        width: 40px;
    }
    .swiper-slide .img1{
        background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b15ff_Nike.svg);
        background-size: cover;
    }
    .swiper-slide .img2{
        background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b1600_Converse.svg);
        background-size: cover;
    }
    .swiper-slide .img3{
        background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/660eb758d7f9942fd6b69202_the-north-face-1-logo-png-transparent-p-500.png);
        background-size: cover;
        width: 50%;
        height: 35%;
    }
    .swiper-slide .img4{
        background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b15fd_Arc%E2%80%99teryx.svg);
        background-size: cover;
        width: 40%;
    }
    .swiper-slide .img5{
        background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b15fe_Hunter.svg);
        background-size: cover;
        width: 70%;
    }
    .swiper-slide .img6{
        background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b1601_MediaLink.svg);
        background-size: cover;
        width: 60%;
    }
    .swiper-slide .img7{
        background-image: url(https://assets-global.website-files.com/64d3dd9edfb41666c35b15d4/64d3dd9edfb41666c35b1602_AfterPay.svg);
        background-size: cover;
        width: 90%;
    }
    .swiper-slide .swiper-para{
        font-weight: 200;
        color: #2d2d2d;
        font-size: 0.7rem;
        margin-top: 10px;
        width: 75%;
        line-height: 10px;
        text-align: left;
    }
    #footer{
        position:fixed;
        z-index: 9;
        height: 190vh;
        width: 100%;
        background-color: black;
        bottom: 0;
        color: white;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        padding: 0vw 0vw;
    }
    .moving-box-cont{
        height: 45vh;
        background: linear-gradient(to bottom, red, transparent);
      
        width: 95%;  
        position: relative;
        top: 130px;
        left: -30px;
        filter: blur(40px);
        display: flex;
        
    } 
    .moving-box-cont .moving-box1{
        background: linear-gradient(to bottom, red, transparent);
        height: 90%;
        width: 25%;
        filter: blur(40px);
        animation-name: boxes1;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }   
    .moving-box-cont .moving-box2{
        background: linear-gradient(to bottom, red, transparent);
        height:10vh;
        width:10vh;
        border-radius: 50%;
        position: relative;
        
        animation-name: boxes;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        
    }   
    .moving-box-cont .moving-box3{
        background: linear-gradient(to bottom, red, transparent);
        height: 10vh;
        width:10vh;
        border-radius: 50%;
        position: relative;
        
        animation-name: boxes;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }   
    .moving-box-cont .moving-box4{
        background: linear-gradient(to bottom , red, transparent);
        height: 90%;
        width: 20%;
        animation-name: boxes2;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }   
    
    
    #footer h1{
        color: #EFEAE3;
        font-size: 23vw;
        position: relative;
        left: -42px;
    }
    #footer-div{
        height: 20vh;
        width: 90%;
        background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 99;
        padding: 3vw 6vw;
        position: relative;
        top: -200px;
        left: -40px;
    }
    #footer-div .footer-h3{
        color: rgba(241, 231, 231, 0.895);
        font-size: 1.5rem;
        margin-left: 0px;
    }
    #footer-div .footer-para {
        display: flex;
        flex-direction: column;
        position: relative;
        left: -20px;
        margin-top:20px ;
        
    }
    #footer-div .footer-para p{
        font-size: 1rem;
        font-weight: 200;
        color: rgba(241, 231, 231, 0.895);
        width: 90%;
        
    }
    #footer-div .footer-para form input{
        outline: none;
        background-color: transparent;
        height: 50px;
        width:200px;
        font-size: 1rem;
        border: none;
        border-bottom: 1px solid #EE8C77;
        font-weight: 200;
        color: white;
        z-index: 100;
        position: relative;
        
        
    }
    #footer-div .footer-para form input::placeholder{
        color: #EE8C77;
        font-size: 0.9rem;
        z-index: 100;
    }
    
    #footer-bottom{
        border-top: 1px solid #dadada78;
        height: 10vh;
        width: 90%;
    }
    
}